cycler==0.10.0
czml==0.3.3
Jinja2==2.11.1
JSBSim==1.1.0.dev1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.22.0
pandas==1.0.3
pygeoif==0.7
pyparsing==2.4.7
pyproj==2.6.0
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.14.0
